.ld_form {
    max-width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.ld_form_row{
    display: flex;
    flex-direction: row;
}