{%extends 'base.html'%}

{% block extra_head_content %}
<title>Login</title>
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "login/login.css" %}" />
{% load static %}
<script src="{% static "login/login.js" %}"></script>
{%endblock%}

{%block content%}

<div id="app">
    <form method="POST" @submit="handleLogin" class="ld_form">
        {% csrf_token %}
        <div class="ld_form_row">
            <text-input style="flex:1" name="username" placeholder="username" v-model="user"  v-on:valid="validCheck" :enable_error="enable_error" required></text-input>
            <text-input style="flex:1" name="password" placeholder="password" v-model="pass" v-on:valid="validCheck" :enable_error="enable_error"></text-input>
        </div>
        <ld-button v-on:click="submitForm" >Login</ld-button>
    </form>
</div>

{%endblock%}