{%extends 'base.html'%}

{% block extra_head_content %}
<title>Login</title>
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "login/login.css" %}" />
{% load static %}
<script src="{% static "login/login.js" %}"></script>
{%endblock%}

{%block content%}

<div id="app">
    <a href="/auth/signup" style="margin-left:auto; margin-right:0;display: table" class="btn btn-info">Registrati</a>

    {% if user_data %}
    <div style="display: none">[[content={{user_data}}]]</div>
    {% endif %}
    {% if inactive %}
    <ld-badge style="background-color: red; color: white; display: block">Utente Inattivo</ld-badge>
    {% endif %}
    {% if blacklisted %}
    <ld-badge style="background-color: red; color: white; display: block">Utente in BlackList</ld-badge>
    {% endif %}
    <div class="ld_form">
        <ld-badge style="display: block">Login</ld-badge>
        <form method="POST" @submit="handleLogin">
            {% csrf_token %}
            
            <div class="ld_form_row">
                <text-input style="flex:1" name="username" placeholder="username" v-model="user"  v-on:valid="validCheck" :enable_error="enable_error" required></text-input>
                <text-input style="flex:1" name="password" placeholder="password" type="password" v-model="pass" v-on:valid="validCheck" :enable_error="enable_error"></text-input>
            </div>
            <ld-button style="width:100%" v-on:click="submitForm">Sign In</ld-button>        
        </form>
    </div>
    
</div>

{%endblock%}