{%extends 'base.html'%}

{% block extra_head_content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "clients/clients.css" %}" />
{% load static %}
<script src="{% static "clients/clients.js" %}"></script>
{%endblock%}

{%block content%}

<div id="app">
    <ld-header action="/map" main_icon="map" tooltip="Return MAP"></ld-header>
        {% if error %}
        <ld-badge style="display: block; padding: 5px; background-color: red; color: yellow; text-align: center">
            Errore: {{error}}
        </ld-badge>
        {% endif %}

        {% if not travels %}
            <ld-badge>Nessun viaggio prenotato o effettuato</ld-badge>
        {%endif%}

        {% for travel in travels %}
            <list-item v-on:submit="handleSubmit" :content="{{travel}}"></list-item>
        {% endfor %}
    
</div>

{%endblock%}