{%extends 'base.html'%}

{% block extra_head_content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "clients/clients.css" %}" />
{% load static %}
<script src="{% static "clients/clients.js" %}"></script>
{%endblock%}

{%block content%}

<div id="app">
    <ld-header action="/map" main_icon="map" tooltip="Return MAP"></ld-header>
        {% for travel in travels %}
            <list-item v-on:submit="handleSubmit" :content="{{travel}}"></list-item>
        {% endfor %}
    
</div>

{%endblock%}