{%extends 'base.html'%}

{% block extra_head_content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'profile/profile.css' %}" />
{% load static %}
<script src='{% static "profile/profile.js" %}'></script>
{%endblock%}

{%block content%}

<div id="app" userData="{{userData}}">
    <ld-header v-if="db_consistent" action="/drivers" main_icon="arrow-left" tooltip="Return to Travels"></ld-header>
    <ld-badge style="margin-left:3px; margin-right:3px; width:99%; display: block; border: 1px solid #ced4da; border-radius: .25rem">Dati del Profilo</ld-badge>
    <form method="POST" @submit="handleSave">
        {% csrf_token %}
        <div class="ld-driver-profile-row">
            <text-input class="ld-driver-profile-cell" name="name" placeholder="Nome" v-model="profile.user" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>
            <text-input class="ld-driver-profile-cell" name="info" placeholder="Info" v-model="profile.info" v-on:valid="validCheck" :enable_error="enable_error"></text-input>
        </div>
        <div class="ld-driver-profile-row">
            <text-input validator="numberValidator" class="ld-driver-profile-cell" name="ratePerKM" placeholder="Tariffa al KM (€)" v-model="profile.ratePerKM" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>        
            <text-input validator="numberValidator" class="ld-driver-profile-cell" name="commonStartPos.lat" placeholder="Latitudine comune" v-model="profile.commonStartPos.lat" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>
            <text-input validator="numberValidator" class="ld-driver-profile-cell" name="commonStartPos.lng" placeholder="Longitudine comune" v-model="profile.commonStartPos.lng" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>
        </div>
        <div class="ld-driver-profile-row">
            <text-input validator="numberValidator" class="ld-driver-profile-cell" name="maxDistance" placeholder="Distanza massima" v-model="profile.maxDistance" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>
            <text-input validator="timeValidator" class="ld-driver-profile-cell" name="timeAvail.startTime" placeholder="Ora inizio disponibilità" v-model="profile.timeAvail.startTime" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>
            <text-input validator="numberValidator" class="ld-driver-profile-cell" name="timeAvail.duration" placeholder="Durata disponibilità" v-model="profile.timeAvail.duration" v-on:valid="validCheck" :enable_error="enable_error" required=true></text-input>
        </div>
        <ld-button tooltip="Salva le modifiche" style="margin-left: 5px" v-on:click="$emit('submit',$event)">Salva</ld-button>
    </form>
    <ld-divider></ld-divider>
    <div style="width: 100%;height:256px;position:absolute;z-index:1">
        <ld-leaflet v-on:dblclick="selectPosition" style="position: relative; height: 100%; width:100%"></ld-leaflet>
    </div>
</div>

{%endblock%}