{%extends 'base.html'%}

{% block extra_head_content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'drivers/drivers.css' %}" />
{% load static %}
<script src='{% static "drivers/drivers.js" %}'></script>
{%endblock%}

{%block content%}

<div id="app">
    <ld-header action="/drivers/profile" main_icon="user" tooltip="View Profile"></ld-header>
    {% for travel in travels %}
        <list-item :content="{{travel}}"></list-item>
    {% endfor %}
</div>

{%endblock%}