{%extends 'base.html'%}

{% block extra_head_content %}
<title>Map</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "map/map.css" %}"/>
{% load static %}
<script src="{% static "map/map.js" %}"></script>
{%endblock%}

{%block content%}

<div id="app" class="ld-container">
    <ld-leaflet v-on:dblclick="addMarker">
        <div style="position:absolute; z-index:500; right:0px;width:95%; margin-left:5%">
            <ld-header action="/clients" tooltip="Return MAP"></ld-header>
            <div style="display: block; margin-left: auto; margin-right: 0; width:15%">
                <div style="padding: 5px">
                    <ld-badge>Ora partenza: </ld-badge>
                    <text-input style="width:120px" :enable_error="enable_error" name="sTime" validator="timeValidator" v-on:valid="validCheck" v-model="sTime"></text-input>
                </div>
                <position-label :marker_pos="getMarkerPos('start')" marker_name="start" v-if="markers.start" v-on:delete="removeMarker">Inizio:<br/></position-label>
                <position-label btn_type="danger" :marker_pos="markers.end._latlng" :marker_name="'end'" v-if="markers.end" v-on:delete="removeMarker">Fine:<br/></position-label>
                <ld-button v-on:click="sendData" style="margin: 5px" v-if="markers.start && markers.end" >Mostra tariffe</ld-button>
            </div>
        </div>
    </ld-leaflet>
</div>

{%endblock%}