{%extends 'base.html'%}

{% block extra_head_content %}
<title>Map</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "map/map.css" %}"/>
{% load static %}
<script src="{% static "map/map.js" %}"></script>
{%endblock%}

{%block content%}

<div id="app" class="ld-container">
    <div style="position: absolute; z-index: 2; margin-left: 5%; margin-right: 15%; width: 80%">
        <ld-header action="/map" tooltip="Return MAP"></ld-header>
    </div>
    <leaflet></leaflet>
</div>

{%endblock%}